﻿@model LabPro.Models.pruebas_pcb_transformador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pruebas_pcb_transformador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fabricacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fabricacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voltaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voltaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gal_aceite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gal_aceite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ppm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ppm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_prueba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_prueba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empresas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresas.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marcas_equipo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marcas_equipo.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
