﻿@model IEnumerable<LabPro.Models.pruebas_pcb_transformador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tabla_pcb">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Serie")
            </th>
            <th>
                @Html.DisplayName("Anio Fabricación")
            </th>
            <th>
                @Html.DisplayName("KVA")
            </th>
            <th>
                @Html.DisplayName("Voltaje")
            </th>
            <th>
                @Html.DisplayName("Peso")
            </th>
            <th>
                @Html.DisplayName("Aceite (Gal)")
            </th>
            <th>
                @Html.DisplayName("PPM")
            </th>
            <th>
                @Html.DisplayName("Fecha Prueba")
            </th>
            <th>
                @Html.DisplayName("Empresa")
            </th>
            <th>
                @Html.DisplayName("Marca")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_fabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voltaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gal_aceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ppm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_prueba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresas.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marcas_equipo.nombre)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>
@section Scripts{
    <script>
        $("#tabla_pcb").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "http://localhost:44303/es/pruebaspcbtransformador/DatosPCBTransformador",
                method: "POST"
            }
        });
    </script>
}