﻿@model LabPro.Models.unidad

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>unidad</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("empresas", null,"Seleccione", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.departamentosId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.departamentosId, "departamentosId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="departamentosId" id="departamentos" class="form-control"></select>
            @Html.ValidationMessageFor(model => model.departamentosId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#empresas").change(function () {
            $.ajax({
                url: "http://localhost:44303/departamentos/departamentosajax",
                method: "post",
                data: {idempresa : $(this).val()},
                success: function (a, b, c) {
                    $("#departamentos").html(a);
                }
            });
        });
    </script>
}
