﻿@model LabPro.Models.pruebas_valores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pruebas_valores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.umbral_maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.umbral_maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.umbral_minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.umbral_minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pruebas.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pruebas.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
