﻿@model LabPro.Models.pruebas_pcb_barril

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>pruebas_pcb_barril</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Código", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { id = "codigo", disabled = true, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("PPM", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ppm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ppm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Empresa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_empresa", null, "Seleccione", htmlAttributes: new { id = "id_empresa", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_empresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de Prueba", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_prueba, new { htmlAttributes = new { id = "fecha_prueba", @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.fecha_prueba, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    <script>
        $(function () {
            jQuery(function ($) {
                $.validator.addMethod('date',
                    function (value, element) {
                        if (this.optional(element)) {
                            return true;
                        }

                        var ok = true;
                        try {
                            $.datepicker.parseDate('dd/mm/yy', value);
                        }
                        catch (err) {
                            ok = false;
                        }
                        return ok;
                    });
            });
            $("#fecha_prueba").datepicker();
            $("#fecha_prueba").datepicker("option", "dateFormat", "dd/mm/yy");
            $("#fecha_prueba").val(moment().format("DD/MM/YYYY"));

            $("#id_empresa").change(function () {

                $.ajax({
                    url: "http://localhost:44303/es/pruebaspcbbarril/codigopcbbarril",
                    data: { id: $(this).val() },
                    method: "get",
                    success: function (a, b, c) {
                        $("#codigo").val(a.codigo);
                    }

                });
            });
        });
    </script>
}
