﻿@model IEnumerable<LabPro.Models.pruebas_pcb_barril>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblBarriles">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Código")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("PPM")
            </th>
            <th>
                @Html.DisplayName("Fecha Prueba")
            </th>
            <th>
                @Html.DisplayName("Empresa")
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>

@section scripts{


    <script>
        $(document).ready(function () {
            $('#tblBarriles').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "http://localhost:44303/es/pruebaspcbbarril/datospcbbarril"
            });
        });
    </script>

}
