﻿@using LabPro.Models
@model LoginViewModel
@{
//ViewBag.Title = GlobalResource.AcountLogin_Title;
}

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">@GlobalResource.AcountLogin_Title</h4>
            </div>
            <div class="modal-body">

                <div class="login-box">
                    <div class="login-logo">

                    </div>

                    <section id="loginForm" class="login-box-body">
                        <p class="login-box-msg">@GlobalResource.AcountLogin_SubTitle</p>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group has-feedback">


                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = GlobalResource.AcountLogin_Email })
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group has-feedback">


                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = GlobalResource.AcountLogin_Password })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox icheck">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                                <div class="col-sm-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="submit" value="@GlobalResource.AcountLogin_BtnLogin" class="btn btn-primary btn-block btn-flat" />
                                </div>
                            </div>



                        }
                    </section>

                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
        $("#LoginModal").modal("show");
        $('#LoginModal').on('hidden.bs.modal', function (e) {
            window.history.back();
        })
    </script>
}
