﻿@using LabPro.Models
@model LoginViewModel
@{
    //ViewBag.Title = GlobalResource.AcountLogin_Title;
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - AES El Salvador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/bundles/admin-ltecss")

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <b>Admin</b> - LabPro
        </div>

        <section id="loginForm" class="login-box-body">
            <p class="login-box-msg">@GlobalResource.AcountLogin_SubTitle</p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">


                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = GlobalResource.AcountLogin_Email })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                </div>
                <div class="form-group has-feedback">


                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = GlobalResource.AcountLogin_Password })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="checkbox icheck">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <input type="submit" value="@GlobalResource.AcountLogin_BtnLogin" class="btn btn-primary btn-block btn-flat" />
                    </div>
                </div>



            }
        </section>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin-ltejs")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
            //$("#LoginModal").modal("show");
            //$('#LoginModal').on('hidden.bs.modal', function (e) {
            //    window.history.back();
            //})
    </script>
    <script>

    </script>

</body>
</html>
