﻿<h4>Rangos</h4>
<div class="form-inline">
    <label class="control-label">Minimo</label><input type="text" class="form-control" /> <label class="control-label">Maximo</label><input type="text" class="form-control" />
    <input type="button" value="Agregar" class="btn btn-primary" />
</div>
