﻿@model LabPro.Models.ChangePasswordViewModel
@{
    ViewBag.Title = GlobalResource.ManageResetPassword_Title;
    ViewBag.Description = "";
}


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">@GlobalResource.ManageResetPassword_Description</h3>
    </div>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="box-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="box-footer">
                
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@GlobalResource.ManagerResetPassword_BtnChangePassword" class="btn btn-default" />
                    </div>
                
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
