﻿@model IEnumerable<LabPro.Models.Funciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tabla_funciones">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_mostrar)
            </th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.funcion
            </td>
            <td>
                @item.nombre_mostrar
            </td>
            <td>
                @item.Roles
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script>
        $("#tabla_funciones").DataTable();
    </script>
}