﻿@model IEnumerable<LabPro.Models.departamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tabla_departamentos">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Departamento")
            </th>
            <th>
                @Html.DisplayName("Empresa")
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empresas.nombre)
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section Scripts{
    <script src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js"></script>
    <script>
        $("#tabla_departamentos").DataTable({
            rowGroup: {
                dataSrc: 1
            },
            "columnDefs": [
                
                {
                    "targets": [1],
                    "visible": false
                }
            ]
        });
    </script>
   
    }
