﻿@using LabPro.Helper
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->

        <span class="logo-mini">Lab Pro</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Lab Pro</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#" >
                                        <i class="fa fa-user text-red"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="@GlobalResource.LayoutLanguage">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger" id="labelLang"> @ViewContext.RouteData.Values["lang"] </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">@GlobalResource.LayoutLanguage</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="Lang">
                                @Url.LangSwitcher("English", ViewContext.RouteData, "en")
                                @Url.LangSwitcher("Español", ViewContext.RouteData, "es")


                                <!-- end task item -->
                            </ul>
                        </li>

                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                @Html.Partial("_LoginPartial")
                
            </ul>
        </div>
    </nav>
</header>
