﻿
@using WebHelpers.Mvc5
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AES El Salvador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/bundles/admin-ltecss")


    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>

            </section>
            <!-- Main content -->
            <section class="content">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - AES El Salvador</p>
                </footer>
            </section>
            <!-- /.content -->
        </div>
        
    </div>
    <!-- /.content-wrapper -->
    @*<div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(GlobalResource.Layout_MenuHome, "Index", "Home")</li>
                        <li>@Html.ActionLink(GlobalResource.Layout_MenuAbout, "About", "Home")</li>
                        <li>@Html.ActionLink(GlobalResource.Layout_MenuContact, "Contact", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @Url.LangSwitcher("English", ViewContext.RouteData, "en")
                        @Url.LangSwitcher("Español", ViewContext.RouteData, "es")
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin-ltejs")
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>

    </script>
</body>
</html>
