﻿@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <div class="pull-left info"><i class="fa fa-user glyphicon-text-width"></i> @User.Identity.GetUserName()</div>

        </a>
        <ul class="dropdown-menu">
            <li class="user-body">
                <p>
                    <i class="fa fa-user text-green"></i> @User.Identity.GetUserName()

                </p>
            </li>

            <li class="user-footer">
                <div class="pull-left">
                    <a href="@Url.Action("ResetPassword","Account")" class="btn btn-default btn-flat">@GlobalResource.LayoutLogin_ChangePassword</a>
                </div>
                <div class="pull-right">

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">@GlobalResource.LayoutLogin_MenuLogout</a>

                    }


                </div>
            </li>
        </ul>
    </li>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
    <li>@Html.ActionLink(GlobalResource.LayoutLogin_MenuRegister, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(GlobalResource.LayoutLogin_MenuLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    @*</ul>*@
}


@* BEGIN Tabs *@
