﻿@using WebHelpers.Mvc5
@using LabPro.Helper
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        @{
            var treeviewActionsSecure = new Dictionary<string, string> {
                { "IndexUsuarios", "Usuarios" },
                { "IndexFunciones", "Funciones" },
                { "IndexRoles", "Roles" }

            };
            var treeviewActionsManteins = new Dictionary<string, string> {
                { "IndexPaises", "Paises" },
                { "IndexEmpresas", "Empresas" },
                { "IndexDepartamentos", "Departamentos" },
                { "IndexUnidades", "Unidades" },
                { "IndexMarcasEquipo", "MarcasEquipo" },
                { "IndexCorrelativosEmpresa", "CorrelativosEmpresa" }

            };

        }

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class=" sidebar-menu" data-widget="tree">
            <li class="header">@GlobalResource.LayoutMenu_Title</li>
            <li class="@Url.IsLinkActive("Index", "Home")"> <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> @GlobalResource.Layout_MenuHome </a></li>
            @*<li class="@Url.IsLinkActive("About", "Home")"> <a href="@Url.Action("About","Home")"><i class="fa fa-circle-o"></i>@GlobalResource.Layout_MenuAbout </a></li>
                <li class="@Url.IsLinkActive("Contact", "Home")"> <a href="@Url.Action("Contact","Home")"><i class="fa fa-circle-o"></i>@GlobalResource.Layout_MenuContact </a></li>*@
            <li  class="@Url.IsAnyTreeviewActive(treeviewActionsSecure) treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i><span>Seguridad</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    @if (User.HasAccess("Usuarios.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Usuarios")"><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                    }
                    @if (User.HasAccess("Funciones.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Funciones")"><a href="@Url.Action("Index","Funciones")"><i class="fa fa-circle-o"></i> Funciones</a></li>
                    }
                    @if (User.HasAccess("Roles.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Roles")"><a href="@Url.Action("Index","Roles")"><i class="fa fa-circle-o"></i> Roles</a></li>
                    }
                </ul>
            </li>
            <li class="@Url.IsAnyTreeviewActive(treeviewActionsManteins) treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>@GlobalResource.LayoutMenu_Mantenin</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @if (User.HasAccess("Paises.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Paises")"><a href="@Url.Action("Index", "Paises")"><i class="fa fa-circle-o"></i> Paises</a></li>
                    }
                    @if (User.HasAccess("Empresas.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Empresas")"><a href="@Url.Action("Index","Empresas")"><i class="fa fa-circle-o"></i> @GlobalResource.LayoutMenu_Company</a></li>
                    }
                    @if (User.HasAccess("Departamentos.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Departamentos")"><a href="@Url.Action("Index", "Departamentos")"><i class="fa fa-circle-o"></i> Departamentos</a></li>
                    }
                    @if (User.HasAccess("Unidades.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "Unidades")"><a href="@Url.Action("Index", "Unidades")"><i class="fa fa-circle-o"></i> Unuidades</a></li>
                    }
                    @if (User.HasAccess("MarcasEquipo.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "MarcasEquipo")"><a href="@Url.Action("Index", "MarcasEquipo")"><i class="fa fa-circle-o"></i> @GlobalResource.LayoutMenu_Brand</a></li>
                    }
                    @if (User.HasAccess("CorrelativosEmpresa.Index"))
                    {
                        <li class="@Url.IsLinkActive("Index", "CorrelativosEmpresa")"><a href="@Url.Action("Index", "CorrelativosEmpresa")"><i class="fa fa-circle-o"></i> Correlativos de empresa</a></li>
                    }
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
